<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:3000/btc">BTC</a>
    <br>
    <a href="http://localhost:3000/eth">ETH</a>
    <br>
    <a href="http://localhost:3000/usdt">USDT</a>
    <br>
    <a href="http://localhost:3000/xrp">XRP</a>
    <br>
    <a href="http://localhost:3000/trx">TRX</a>
    <br>
    <a href="http://localhost:3000/dash">DASH</a>
    <br>
    <a href="http://localhost:3000/zec">ZEC</a>
    <br>
    <a href="http://localhost:3000/xem">XEM</a>
    <br>
    <a href="http://localhost:3000/iost">IOST</a>
    <br>
    <a href="http://localhost:3000/win">WIN</a>
    <br>
    <a href="http://localhost:3000/btt">BTT</a>
    <br>
    <a href="http://localhost:3000/wrx">WRX</a>
    <br>
    
    <% arr.forEach((item, index)=>{ %> 
        <strong><%= index+1 %>. Last traded price: <%= (item.last) %></strong>
        <br>
    <% }); %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>